/* docs/.vuepress/styles/index.scss */

pre {
  background-color: #424448;
  color: #fff;
  border-radius: 5px;
  padding: 1rem;
  overflow-x: auto;
  font-size: 0.875rem;
  line-height: 1.5;
}

pre .line {
  color: #fff;
}

code.language {
  color: #fff;
}

code {
  color: inherit;
  background: none;
  padding: 0;
}

p,span{
  line-height: 2.4;
}

p{
  font-size: 14px;
}

li{
  line-height: 2.4;
  font-size: 14px;
}
