/* docs/.vuepress/styles/index.scss */

.vp-theme-container {
  .vp-navbar {
    .vp-site-logo {
      max-height: 40px;
      border-radius: 4px;
    }
  }
}

pre {
  background-color: #424448;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  overflow-x: auto;
  font-size: 0.875rem;
  line-height: 1.5;
}

pre .line {
  color: #fff;
}

code.language {
  color: #fff;
}

code {
  color: inherit;
  background: none;
  padding: 0;
}

p,span{
  line-height: 1.6;
}

p{
  font-size: 14px;
}

li{
  line-height: 1.6;
  font-size: 14px;
}
