/* docs/.vuepress/styles/index.scss */

.vp-theme-container {
  .vp-navbar {
    .vp-site-logo {
      max-height: 40px;
      border-radius: 4px;
    }
  }
}

pre {
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  overflow-x: auto;
  font-size: 0.875rem;
  line-height: 1.5;
}

p,span{
  line-height: 2.4;
}

p{
  font-size: 14px;
}

li{
  line-height: 2.4;
  font-size: 14px;
}
